<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="interactService" class="ru.otus.homework01.service.InteractServiceImpl">
		<constructor-arg name="loginService" ref="loginService"/>
		<constructor-arg name="quizeService" ref="quizService"/>
		<constructor-arg name="consoleService" ref="consoleService"/>
	</bean>
	
	<bean id="consoleService" class="ru.otus.homework01.service.ConsoleServiceImpl">
	</bean>
	
	<bean id="loginService" class="ru.otus.homework01.service.LoginServiceImpl">
		<constructor-arg name="console" ref="consoleService"/>
	</bean>
	
	<bean id="quizDao" class="ru.otus.homework01.dao.QuizDaoImpl">
		<constructor-arg value="/questions.csv"/>
    </bean>

    <bean id="quizService" class="ru.otus.homework01.service.QuizServiceImpl">
        <constructor-arg name="dao" ref="quizDao"/>
    </bean>
    
    
    
    

</beans>
